<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="css/estilo.css">



    <title>Autobuy: O melhor dos melhores</title>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->  
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- -------------Cabeçalho-------------   -->
    <nav class="navbar navbar-default cabecalho ">
      <div class="container ">

        <div class="navbar-header ">
          <a href="#" class="navbar-brand">LOGP</a>
        </div>
        
        <ul class="nav navbar-nav ">
          <li><a href="#">Comprar</a></li>
          <li><a href="#">Vender</a></li>
          <span class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">vender</a>
            <div class="dropdown-menu">
              <a href="#"></a>
            </div>
          </span>
          <li><a href="#">Financiamento (FNF)</a></li>
          <li><a href="#">Busca Detalhada</a></li>
          <span class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
            <form method="post" class="dropdown-menu">
              <input type="text" name="login" class="form-control" placeholder="Digite seu login">
              <input type="text" name="senha" class="form-control" placeholder="Digite sua senha">
              <button type="submit" class="btn-primary">Logar</button>
            </form> 
          </span>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div>
        <!--Mecanismo de buscas-->
        <div class="container busca-rapida card">
          <form method="POST" >
            <div class="form-group container">
              <label for="busca-rapida">Digite a marca ou modelo:</label>
              <input type="text" name="busca-rapida" class="form-control" id="busca-rapida"><br>
              <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
          </form>
        </div>
        <!--Anúncios-->
        <div class="secaoAnuncio">
          <h1 class="red">Melhores Ofertas</h1>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          <div class="anuncio col-sm-6 col-md-4 col-lg-3 ">  
            <div class="card anuncio_borda">
              <img class="img-fluid" alt="Responsive image" src="sources/OnixFrente.png">
            
              <a href="#">
                <div class="container">
                  <span class="modelo-anuncio">Chevrolet Onix</span>
                  <br>
                  <div class="preco-anuncio">R$20000</div>
                </div>
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!--RODAPÉ-->
    <footer class="footer">
      <div class="container rodape_mapa">
        <div class="col-sm-6 col-lg-3">
          <h5>Comprar</h5>
          <ul class="nav navbar-nav">
            <li><a href="#">Carros Usados</a></li>
            <li><a href="#">Carros 0KM</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <h5>Vender</h5>
          <ul class="nav navbar-nav">
            <li><a href="#">Gerenciar meu anúncio</a></li>
          </ul>
        </div>
      </div>
      <div class="rodape_inferior">
        <div class="container">
          <a href="#">
          <img src="sources/redes_sociais/facebook.png" class="img-fluid icone-redesSociais " alt="Responsive image"></a>
          <a href="#">
          <img src="sources/redes_sociais/instagram.png" class="img-fluid icone-redesSociais" alt="Responsive image"></a>
          <a href="#">
          <img src="sources/redes_sociais/youtube.png" class="img-fluid icone-redesSociais" alt="Responsive image"></a>
        </div>
      </div>  
    </footer>
  </body>
</html>