header{
	border: 5px double black;
	width: 100%;
	padding: 10px;
	position: fixed;
	background-color: yellow;
	z-index: 2;
	clear: both;
}

.area{
	position: relative;
	width: 75%;
	margin: 0px auto;
}

#links-cabecalho{
	float: right;
	padding: 10px;
}

#logo-cabecalho{
	float: left;
	padding: 0px;
	margin: 0px;
}