.area-principal{
	width: 75%;
	margin: 0px auto;
	position: relative;
	clear: both;
}

aside{
	position: absolute;
	margin-top: 70px;
	padding: 5px;
	border: 1px solid grey;
	width: 200px;
	background-color: white;
	box-shadow: 0px 0px 4px grey;
}

.busca-rapida{
	margin: 3px 3px 7px 3px;
	background-color: #DCDCDC;
	box-shadow: 0px 0px 2px grey;
}

.busca-detalhada{
	margin: 3px;
	background-color: #DCDCDC;
	box-shadow: 0px 0px 2px grey;
}

.conteudo-principal{
	float: left;
	margin-top: 70px;
	margin-left: 250px;
}





.anuncio{
	margin: 5px; 
	width: 230px;
	height: 350px;
	float: left;
	background-color: white;
	box-shadow: 0px 0px 17px white;
}

.modelo-anuncio{
	font-weight: bold;
}

.preco-anuncio{
	margin-top: 50px;
	font-size: 30px;
}

.foto-anuncio{
	width: 230px;
	height: 180px;
	background-color: blue;
}
