body{
	margin: 0px;
	height: 100%;
	background: linear-gradient( 225deg, #00008B, #0000FF, #6495ED, #ADD8E6, white);
	font-family: sans-serif;
	padding-bottom: 50px;
}

label{
	margin: 2px; 
}

input{
	margin: 2px;
}

.clear{
	clear: both;
	margin-top: 100px;
	position: relative;
	bottom: 0;
}

.icone{
	width: 13px;
}



a{
	margin: 3px;
	padding: 5px;
}
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	background-color: white;
}
a:active{
	color: black;
}





