body{
	margin: 0px;
	background: linear-gradient( to bottom, #0000FF, #ADD8E6);
	font-family: sans-serif;
}

label{
	margin: 2px; 
}

input{
	margin: 2px;
}

.clear{
	clear: both;
}

a{
	text-decoration: none;
	margin: 3px;
	padding: 3px;
	text-decoration: 
}
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color: white;
	background-color: black;

}
a:active{
	color: black;
}





