header{
	width: 100%;
	position: fixed;
	background-color: yellow;
	z-index: 2;
}

.area{
	position: relative;
}

#links-cabecalho{
	float: right;
	margin: auto 0px;
	padding: 10px;
}

#logo-cabecalho{
	float: left;
	padding: 0px;
	margin: auto 0px;
	alignment-baseline: central;
}