header{
	border: 5px double black;
	position: fixed;
	background-color: yellow;
	z-index: 2;
}

.area{
	position: relative;
}

#links-cabecalho{
	float: right;
	padding: 10px;
}

#logo-cabecalho{
	float: left;
	padding: 0px;
	margin: 0px;
}