.area-principal{
	margin: 0px auto;
}

aside{
	float: left;
	position: absolute;
}

.aside{
	padding: 10px;
	border: 1px solid grey;
	box-shadow: 0px 0px 8px black;
	background-color: white;
	margin-top: 100px;
}

.busca-rapida{
	background-color: #DCDCDC;
	box-shadow: 0px 0px 5px grey;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.busca-detalhada{
	background-color: #DCDCDC;
	box-shadow: 0px 0px 5px grey;
	padding-bottom: 10px;
}




.conteudo-principal{
	position: absolute;
	float: right;
	margin-top: 90px;
	margin-left: 250px;
	border: 4px solid green;
}

.anuncio{
	margin: 5px; 
	float: left;
	background-color: white;
	box-shadow: 0px 0px 17px black;
}

.info-anuncio{

}

.modelo-anuncio{
	font-weight: bold;
}

.preco-anuncio{
	margin-top: 50px;
	font-size: 30px;
}

.foto-anuncio{
	background-color: black;
	margin: 3px 0px;
}
