.area-principal{
	margin: 0px auto;
	position: relative;
}

aside{
	float: left;
	margin-top: 100px;
	padding: 5px;
	border: 1px solid grey;
	width: 200px;
	background-color: white;
	box-shadow: 0px 0px 4px grey;
	position: absolute;
}

.busca-rapida{
	margin: 3px 3px 7px 3px;
	background-color: #DCDCDC;
	box-shadow: 0px 0px 2px grey;
}

.busca-detalhada{
	margin: 3px;
	background-color: #DCDCDC;
	box-shadow: 0px 0px 2px grey;
}




.conteudo-principal{
	position: absolute;
	float: right;
	margin-top: 100px;
	margin-left: 250px;
	border: 4px solid green;
}

.anuncio{
	margin: 5px; 
	float: left;
	background-color: white;
	box-shadow: 0px 0px 17px grey;
}

.info-anuncio{

}

.modelo-anuncio{
	font-weight: bold;
}

.preco-anuncio{
	margin-top: 50px;
	font-size: 30px;
}

.foto-anuncio{
	background-color: black;
	margin: 3px 0px;
}
